html {
  scroll-behavior: smooth;
}
body {
  position: relative;
  max-width: 800px;
  height: 100vh;
  margin: 0 auto;
  padding: 3rem 0;
  color: #fff;
  background-image: var(--background-gradient);
  font-family: 'Barlow Semi Condensed', sans-serif;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
