@use '../mixins/hover.scss' as *;
.icon {
  pointer-events: none;
}

.game-items--simple {
  background-image: url(../../assets/images/bg-triangle.svg);
}
.game-items {
  position: relative;
  width: 312px;
  height: 282px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 240px 210px;
}
.game-item {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  box-shadow: 0 5px var(--shadow), inset 0 5px rgba(0, 0, 150, 0.1);
  background-color: #fff;
  transition: transform 0.2s;
  cursor: pointer;
  @include hover {
    scale: 0.95;
  }
}
.game-items--advanced {
  background-image: url(../../assets/images/bg-pentagon.svg);
  position: relative;
  width: 340px;
  height: 540px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.game-item--paper {
  border: 15px solid var(--paper);
  --shadow: var(--paper-shadow);
}
.game-item--paper-simple {
  top: 0;
  left: 0px;
}
.game-item--paper-advanced {
  top: 175px;
  left: 250px;
}
.game-item--rock-simple {
  bottom: 0;
  left: 100px;
}
.game-item--rock {
  border: 15px solid var(--rock);
  --shadow: var(--rock-shadow);
}
.game-item--rock-advanced {
  top: 350px;
  left: 225px;
}
.game-item--scissors-simple {
  top: 0;
  right: 0;
}
.game-item--scissors {
  border: 15px solid var(--scissors);
  --shadow: var(--scissors-shadow);
}
.game-item--scissors-advanced {
  top: 50px;
  left: 120px;
}

.game-item--spock {
  border: 15px solid var(--spock);
  --shadow: var(--spock-shadow);
}
.game-item--spock-advanced {
  top: 175px;
  left: -30px;
}
.game-item--lizard {
  border: 15px solid var(--lizard);
  --shadow: var(--lizard-shadow);
}

.game-item--lizard-advanced {
  top: 350px;
  left: 25px;
}
.user-picked,
.pc-picked {
  height: 183px;
  width: 115px;
}
.result {
  text-align: center;
  &__title {
    margin: 0;
  }
}

.game-results {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  text-align: center;
  margin-bottom: 60px;
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7.0625rem;
  height: 100vh;
  width: 100%;
  top: 0;
  background-color: #fff;
  color: #3b4262;
  &__title {
    margin: 0;
  }
}

.hide {
  display: none;
}
