.title--l {
  font-size: 48px;
}
.title-score {
  font-size: 1.25rem;
}

.result__title {
  margin: 0;
  font-size: 3.5rem;
  &--game {
    font-size: 1.2rem;
    line-height: 32px;
    letter-spacing: 1.88px;
    margin: 0 0 12px;
  }
}

.block {
  font-size: 3rem;
  &--advanced {
    font-size: 2rem;
  }
}
